body {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
  	width: 100%;
}

header {
	width: 100%;
	background: #BBBBBB;
	padding: 20px 0 ;
}

.caixa {
	position:relative;
	width: 940px;
	margin: auto;
}

nav {
	position: absolute;
	top: 260px;
	right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.menu {
	width: 100%;
	padding: 50px 0;

}

.produtos {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	
}

.produtos img {
	width: 50%;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 500px;
	vertical-align: top;
	margin: 1.5% 1.5% 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
	width: 100%;
}

.footer img {
	width: 20%;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 20px 0;
}


/* css da página inicial */
.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

p {
	text-align: center;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.ferramentas {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.irmaos {
	margin-left: 33%;
	height: 500px;
    width: 300px;
    margin: 5px #333;
	margin-bottom: 30px;

}

.foto {
	
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.foto-imagens {

	display: block;
    height: 300px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
	margin-bottom: 50px;
    position: relative;
}

.foto-imagens ul {

	list-style: none;
	position: absolute;
}

.foto-imagens li {
	text-align: center;
	list-style: none;
	position: absolute;
}

.foto-imagens img {
	margin: auto;
    height: 50%;
    width: 50%;
    vertical-align: top;
}

.foto-imagens input {

	display: none;
}

.foto-imagens label {

    background-color: #fff;
    bottom: 10px;
	cursor: pointer;    
	display: block;
    height: 10px;
    position: relative;
    width: 10px;
    z-index: 10;
}

.foto-imagens li:nth-child(1) label {
    left: 10px;
}

.foto-imagens li:nth-child(2) label {
    left: 40px;
}

.foto-imagens li:nth-child(3) label{
	left: 70px;
}

.foto-imagens li:nth-child(4) label {
    left: 100px;
}

.foto-imagens li:nth-child(5) label {
    left: 130px;
}

.foto-imagens li:nth-child(6) label{
	left: 160px;
}

.foto-imagens img {
    opacity: 0;
    visibility: hidden;
}

.foto-imagens li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.foto p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 700px;
	margin: auto auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-top: 55px;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}